name: gRPC Service (.NETCORE)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: Restore
      run: dotnet restore ./src
    - name: Build
      run: dotnet build ./src --configuration Release --no-restore
    - name: Unit Test
      run: dotnet test ./test/PrateleiraLivros.UnitTest --no-restore --verbosity minimal
    - name: Integration Test
      run: dotnet test ./test/PrateleiraLivros.IntegrationTest --no-restore --verbosity minimal
    - name: Publish
      run: dotnet publish ./src/PrateleiraLivros.gRPCService --configuration Release --framework netcoreapp3.1 --no-restore -v minimal -o output/
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.1
      with:
        name: grpcservice-artifacts
        path: /home/runner/work/aspnetcore-gRPCService-docker/aspnetcore-gRPCService-docker/output/
